body {
    margin:0px;
    box-sizing: border-box;

    
}

main {
    display:flex;
    flex-direction: row;
    flex-wrap: column;
    justify-content: space-evenly;
    background-color:rgb(131, 157, 197) ;
}





.leftSection {
    display:flex;
    flex-direction: column;
    align-items:center ;
    align-content:center;
    width:445px;
    height:85vh;
    border: 3px solid grey;
    border-radius: 20px;
    gap:20px;
    text-transform:uppercase;
   


} 

.middleSection {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items:center ;
    align-content:center;
    width:600px;
    height:85vh;
    border: 3px solid grey;
    border-radius: 20px;
 
    text-transform:uppercase;
    font-size: 28px;
    font-weight: bold;
    

} 

.rightSection {
    display:flex;
    flex-direction: column;
    align-items:center ;
    align-content:center;
    width:445px;
    height:85vh;
    border: 3px solid grey;
    border-radius: 20px;
    gap:20px;
   
}
 
.upgrade {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.bigSignCookies{
    display: flex;
    justify-content: center;
}


.numberDisplay {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center ;
    
}


.rate {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center ;
   
}


header {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    background-color: salmon;
   
    
}

nav {
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin:22px;
    font-size:small;
}

footer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: salmon;
}

.name{
    background-color: greenyellow;
    text-transform: uppercase;
    font-size: small;
    width:139px;
    height: 33px;
    
    
}

.name:hover{
    background-color: rgba(0, 0, 255, 0.911);
    color: whitesmoke;
}

.cost{
    background-color: yellow;
    text-transform: uppercase;
    font-size: small;
     width:129px;
    height: 33px;
}

.cost:hover{
    background-color: magenta;
    color: whitesmoke;
}

.increase{
    background-color: whitesmoke;
    text-transform: uppercase;
    font-size: small;
     width:89px;
    height: 33px;
}

.increase:hover{
    background-color: black;
    color: whitesmoke;
}




.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.brand{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 23px;
   
}

.cookie-container{
    height: 350px;
    display: flex;;
   
}
 

.cookie {
    display: flex;
    position: absolute;
    animation: rotates 100s linear infinite;
    cursor: pointer;
    background-blend-mode: color;
    height: 310px;
    width: 310px;
    margin-right:auto ;
    

}

@keyframes rotates {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.warning {
 text-decoration: double;
 color: red;
 font-size: 26px
}

.upgradeIsSuccessful {
 text-decoration: double;
 color: green;
 font-size: 26px
}

.popupmessages{
    display:flex;
    border: 2.6px grey solid;
    width: 350px;
    height: 250px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.repeatmessages{
    display:flex;
    border: 2.6px grey solid;
    width: 350px;
    height: 250px;
    justify-content: center;
    align-items: center;
}